p{

    font-family: lato;
    font-size: 1.9rem;
    color: #deeaf5;
    ; /*#1D1622*/
    font-weight:500;

}

h5{
    line-height: 2.3rem;
    font-family: lato;
    font-size: 1.5rem;
    color:#deeaf5; /* black, #1D1622*/
    font-weight:250;
    /* margin-right: 10%;
    margin-left: 10%; */
    text-align:left;
}
  
.ml16 .letter {

    display: inline-block; 
    line-height: 1em; 
  

 }

 
/*   h1, .ml16{
    font-family: lato;
    font-size: 5rem;
    color: #deeaf5;
    cursor: default; 
    font-weight: 900;
 
    z-index: 100000 !important;

    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, .5px .5px orange, .7px .7px orange, .9px .9px orange, 1.1px 1.1px orange, 1.3px 1.3px orange, 1.5px 1.5px orange, 1.7px 1.7px orange, 2.0px 2.0px orange, 2.2px 2.2px orange, 2.4px 2.4px orange, 2.6px 2.6px orange, 2.8px 2.8px orange, 3px 3px orange, 3.2px 3.2px orange, 3.4px 3.4px orange, 3.6px 3.6px orange    !important;


   
}

*/

a{

text-decoration: none;
color: #44658d /*#2E4055*/;
font-size: 2.8rem;
transition: .5s ease;
margin-right:3%;
}
a.more.description{
    margin-right:0%;
    padding: .59rem !important;  
    font-size: .9rem !important;
}

a.more.description:hover{
    color: orange !important;
    background: transparent;
       border-color: orange !important;

       transition: none;
   
}



a:hover{
color:   orange; /* #455E7E  #f6b93b*/
cursor: default;
}
#linked:hover{
    color:  #1d57af ;
}

#insta:hover{
    color:  #c0b9fd ;
}

#codepen:hover{
    color:   #73a0d8;
}
#mail:hover{
    color:  #c3de8d;
}

a.more.back{
    font-size: .75rem !important;
    padding: .45rem !important;
    margin-right:.5%;
    text-align: center !important;
    margin-bottom:1%;

}
a.more.nohov{
    font-size: .75rem !important;
    padding: .45rem !important;
    margin-right:.5%;
    text-align: center !important;
    margin-bottom:1%;
}
a.more.nohov:hover{
    color: orange !important;
    background: transparent;
       border-color: orange !important;

       transition: none;
   
}

a.more{
font-family:lato;
    font-size: .8rem;
    margin-right:none;
border-radius: 25px;
    color: orange !important;

text-decoration: none;
background: transparent;

padding: .8rem;
border: .07rem solid orange !important;
display: inline-block;
transition: all 0.4s ease 0s;

}

a.more:hover{
 color: rgb(6, 22, 32) !important;
background: orange;
border-color: orange !important;
transition: all 0.4s ease 0s;

}

h3{
line-height: 1.9rem;
    font-family: lato;
    font-size: 1.3rem;
    color:#deeaf5; /* black, #1D1622*/
    font-weight:270;


}


.photoandicons{

    float:left;
    margin-right:3%;
    margin-top:4%;
}

.secondp{
z-index: 10000 !important;
float:left;
padding-top:1%;
display: block;
text-align:left;

}

.pickandp2{
    margin-left:5%;
    margin-right:5%;
    display: flex !important;
    margin-top:12% !important;
    margin-bottom:4% !important;
}

.facts{
    margin-left:6%;margin-right:6%;
}
@media all and (max-width: 1035px) {   

    .secondp{
        text-align: center;
        float:none !important;
    display: flex !important;
    margin-top:-23% !important;
    
        }
    
     #secondpic{
     width:100%;
        max-width:400px;
        height:auto;
        float: none !important;
        text-align: center !important;
        margin-bottom: 4% !important;
        margin-top: 4% !important;
    
    
    }
    
    .pickandp2{
        margin-left: 6% !important;
    
        margin-right: 6% !important;
        display: block !important;
    }
    
}
@media all and (max-width: 913px) {  
    
    .secondp{
        text-align: center;
        float:none !important;
    display: flex !important;
    margin-top:-23% !important;
    
        }
    
     #secondpic{
     width:100%;
        max-width:800px;
        height:auto;
        float: none !important;
        text-align: center !important;
        margin-bottom: 4% !important;
        margin-top: 4% !important;
    
    
    }
    
    .pickandp2{
        margin-left: 6% !important;
    
        margin-right: 6% !important;
        display: block !important;
    }


}

@media all and (max-width: 450px) { 

.photoandicons{
    display: none !important;
    float:none !important;
    text-align: center;
    margin-right: none !important;
    margin-top:3%;

}

h1{
    font-size: 2.5rem !important;
    text-align:center !important;
}


p{
    text-align:center !important;
    font-size: 1.7rem;
}
a.more, #more{
    text-align: center !important;
    float: none !important;
    display: block !important;
}
a.more.back, a.more.nohov{

    padding: .35rem !important;
    margin-bottom:1.3%;
    display: inline-block !important;
   
}


.secondp{
    text-align: center;
    float:none !important;
display: flex !important;
margin-top:-10% !important;

    }

 #secondpic{
 width:100%;
    max-width:550;
    height:auto;
    float: none !important;
    text-align: center !important;
    margin-bottom: 4% !important;
    margin-top: 4% !important;


}

.pickandp2{
    margin-left: 6% !important;

    margin-right: 6% !important;
    display: block !important;
}


}

@media all and (min-width: 1429px) { 
   .pickandp2{
   margin-top: 3%;

    
    }


    
    /*

    h1{
        font-size: 7rem;
    }

    #secondpic{
        margin:3%;
         width:40%;
           max-width:550;
           height:auto;
           float: right !important;
      
       }  */

       
}

@media all and (min-width: 1500px) { 
    .pickandp2{
    margin-top: 4%;
 
     }
    }




@media all and (max-width: 550px) { 


.secondp{
    text-align: center;
    float:none !important;
display: flex !important;
margin-top:-10% !important;

    }

 #secondpic{
 width:100%;
    max-width:550;
    height:auto;
    float: none !important;
    text-align: center !important;
    margin-bottom: 4% !important;
    margin-top: 4% !important;
}

.pickandp2{
    margin-left: 6% !important;

    margin-right: 6% !important;
    display: block !important;
}
    }