p{

    font-family:  Avenir, myriad pro, lato, nunito-sans, PT Sans, sans-serif, Helvetica;
    font-size: 1.9rem;
    color: #deeaf5;
    ; /*#1D1622*/
    font-weight:500;

}

h5{
    padding-top:0%;
    line-height: 1.9rem;
    font-family:  Avenir, myriad pro, lato, nunito-sans, PT Sans, sans-serif, Helvetica;
    font-size: 1.4rem;
    color:#deeaf5; /* black, #1D1622*/
    font-weight:250;
    /* margin-right: 10%;
    margin-left: 10%; */
    text-align:left;
}
  
.ml16 .letter {

    display: inline-block; 
    line-height: 1em; 
  

 }

 
/*   h1, .ml16{
    font-family: lato;
    font-size: 5rem;
    color: #deeaf5;
    cursor: default; 
    font-weight: 900;
 
    z-index: 100000 !important;

    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, .5px .5px orange, .7px .7px orange, .9px .9px orange, 1.1px 1.1px orange, 1.3px 1.3px orange, 1.5px 1.5px orange, 1.7px 1.7px orange, 2.0px 2.0px orange, 2.2px 2.2px orange, 2.4px 2.4px orange, 2.6px 2.6px orange, 2.8px 2.8px orange, 3px 3px orange, 3.2px 3.2px orange, 3.4px 3.4px orange, 3.6px 3.6px orange    !important;


   
}

*/

a{

text-decoration: none;
color: #678bb9 /*#2E4055*/;
font-size: 2.8rem;
transition: .5s ease;
margin-right:3%;
}
a.more.description{
    margin-right:0%;
    padding: .59rem !important;  
    font-size: .9rem !important;
}

a.more.description:hover{
    color: #c1eba7 !important;
    background: transparent;
       border-color: #c1eba7;

       transition: none;
   
}



a:hover{
color:   #a5a5a5; /* #455E7E  #f6b93b*/
cursor: default;
}
#linked:hover{
    color:  #2073f0 ;
}

#insta:hover{
    color:  #d3ceff ;
}

#codepen:hover{
    color:   #c8e1ff;
}
#mail:hover{
    color:  #ffe677;
}

a.more.back{
 
    padding: .45rem !important;
    margin-right:.5%;
    text-align: center !important;
    margin-bottom:1%;

}
a.more.nohov{
    border-radius: 16px !important;
    padding: .45rem !important;
    margin-right:.5%;
    text-align: center !important;
    margin-bottom:1%;
}
a.more.nohov:hover{
    color: #c1eba7!important;
    background: transparent;
       border-color: #c1eba7!important;

       transition: none;
   
}

a.more{
font-family: Avenir, myriad pro, lato, nunito-sans, PT Sans, sans-serif, Helvetica;
    font-size: .9rem;
    margin-right:none;

    color: #c1eba7;
    border-radius: 25px;
text-decoration: none;
background: transparent;

padding: .8rem;
border: .07rem solid #c1eba7!important;
display: inline-block;
transition: all 0.4s ease 0s;

}

a.more:hover{
 color: rgb(6, 22, 32) !important;
background: #c1eba7;
border-color: #c1eba7!important;
transition: all 0.4s ease 0s;

}

h3{
line-height: 1.9rem;
    font-family:  Avenir, myriad pro, lato, nunito-sans, PT Sans, sans-serif, Helvetica;
    font-size: 1.3rem;
    color:#deeaf5; /* black, #1D1622*/
    font-weight:100;


}


.photoandicons{

    float:left;
    margin-right:3%;
    margin-top:4%;
}

.secondp{
z-index: 10000 !important;
float:left;
padding-top:1%;
display: block;
text-align:left;

}

.pickandp2{
    margin-left:5%;
    margin-right:5%;
    display: flex !important;
    margin-top:12% !important;
    margin-bottom:4% !important;
}

.facts{
    margin-left:6%;margin-right:6%;
}

#scroll{

    color:rgb(6, 22, 32);
    background-color: #c1eba7;
}
#scroll:hover{
    background-color:#FB363E;
    color:white !important;
    border-color: #FB363E !important;
}


@media all and (min-width: 1500px) { 
    .pickandp2{
    margin-top: 4%;
 
     }
    }







@media all and (min-width: 1429px) { 
   .pickandp2{
   margin-top: 3%;

    
    }


    
    /*

    h1{
        font-size: 7rem;
    }

    #secondpic{
        margin:3%;
         width:40%;
           max-width:550;
           height:auto;
           float: right !important;
      
       }  */

       
}



@media all and (max-width: 1035px) {   

    .secondp{
        
        float:none !important;
    display: flex !important;
    margin-top:-23% !important;
    
        }
    
     #secondpic{
     width:100%;
        max-width:400px;
        height:auto;
        float: none !important;
        text-align: center !important;
        margin-bottom: 4% !important;
        margin-top: 4% !important;
    
    
    }
    
    .pickandp2{
        margin-left: 6% !important;
    
        margin-right: 6% !important;
        display: block !important;
    }
    .letter1, .letter2, .letter3, .letter4, .letter5, .letter6{
        font-size: 3.5rem;
    }

    
}



@media all and (max-width: 913px) {  
    


    .secondp{
     
        float:none !important;
    display: flex !important;
    margin-top:-23% !important;
    
        }
    
     #secondpic{
     width:100%;
        max-width:800px;
        height:auto;
        float: none !important;
        text-align: center !important;
        margin-bottom: 4% !important;
        margin-top: 4% !important;
    
    
    }
    
    .pickandp2{
        margin-left: 6% !important;
    
        margin-right: 6% !important;
        display: block !important;
    }
    .letter1, .letter2, .letter3, .letter4, .letter5, .letter6{
        font-size: 3rem;
    }

}




@media all and (max-width: 550px) { 

.letter1, .letter2, .letter3, .letter4, .letter5, .letter6{
    font-size: 2.5rem;
}
.secondp{
    
    float:none !important;
display: flex !important;
margin-top:-10% !important;

    }

 #secondpic{
 width:100%;
    max-width:550;
    height:auto;
    float: none !important;
    text-align: center !important;
    margin-bottom: 4% !important;
    margin-top: 4% !important;
}

.pickandp2{
    margin-left: 6% !important;

    margin-right: 6% !important;
    display: block !important;
}


}





@media all and (max-width: 450px) { 

    .photoandicons{
        display: none !important;
        float:none !important;
        text-align: center;
        margin-right: none !important;
        margin-top:3%;
    
    }
    
    
    h1{
        font-size: 2.3rem !important;
        text-align:center !important;
    }
    .ml16{
        font-size: 2.3rem !important;
        text-align:center !important;
    }
    
    
    p{
        text-align:center !important;
        font-size: 1.7rem;
    }
    a.more, #more{
        text-align: center !important;
        float: none !important;
        display: block !important;
        
    }
    
    
    a.more.back, a.more.nohov{
    
        padding: .35rem !important;
        margin-bottom:1.3%;
        display: inline-block !important;
        
    }
    
    
    .secondp{
        
        float:none !important;
    display: flex !important;
    margin-top:-10% !important;
    
        }
    
        #secondpic{
        width:100%;
        max-width:550;
        height:auto;
        float: none !important;
        text-align: center !important;
        margin-bottom: 4% !important;
        margin-top: 4% !important;
    
    
    }
    
    .pickandp2{
        margin-left: 6% !important;
    
        margin-right: 6% !important;
        display: block !important;
    }
    
    
    }