
html, body {
    background-color: rgb(17, 52, 126) ; /*rgb(0, 7, 72)*/
    color: rgb(251, 223, 35);
    cursor: url("star.cur"), default;
    font-family: 'Courier New', Courier, monospace;
    /*background-image: url("images/white-linen.png") ; */
}

h1{
    font-size: xx-large;
    -webkit-text-stroke: .5px rgb(154, 5, 5);
    color: rgb(255, 238, 124);
    border: 2px;
    border-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}
#intro{
    padding-left:27rem; 
    padding-right: 27rem;padding-top:6rem;
}





a{
    color: rgb(251, 223, 35);
font-size: medium;
text-decoration: underline;
font-weight: bold;
}
p{
    font-size: large;
    font-weight:bold;
}

button{
    color: rgb(47, 59, 97);
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    border-radius: 2000px;
    background-color: rgb(186, 186, 186);
    border: 1.7px solid rgb(251, 223, 35);
    /* transition: .3s ease; */
}
.play-button {
    background-color: rgb(238, 255, 163);
    color: rgb(17, 52, 126) !important;
}

.pause-button {

}

 button:hover{
    background-color: rgb(255, 238, 131);
    color: rgb(17, 52, 126)!important;
}

a:hover{
    background-color: rgb(255, 242, 156);
    color: rgb(49, 64, 91);
}

#musicbutton{
    padding: 3px;
    color: rgb(47, 59, 97);
    text-align: center;
    text-decoration: none;
    font-size: small;

}


footer{
    text-align: left;
    padding-top: 15%;
}










@media all and (max-width: 1150px) { 

    #intro{
        padding-left:17rem; 
        padding-right: 17rem;
        padding-top:6rem;
    }
    h2{
        font-size: x-large;
    }

}

@media all and (max-width: 800px) { 
  
    #intro{
        padding-left:8rem; 
        padding-right: 8rem;
        padding-top:6rem;
    }
    h2{
        font-size: x-large;
    }
    #musicbutton{
        visibility: hidden;
    }
}

@media all and (max-width: 500px) { 
    #head{
        font-size: small;
    }
    #intro{
        padding-left:2rem; 
        padding-right: 2rem;
        padding-top:6rem;
    }
    h2{
        font-size: small;
    }
    a{
        font-size: small;
    }

    button{
        font-size: small;
        border: 1px solid rgb(251, 223, 35);

    }
    footer{
        padding-top: 58%;
    }
    #musicbutton{
        visibility: hidden;
    }
}